<html>
<body>

<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<div class="container">
    <div class="row">
     <% @favorites_blogs.each do |favorites_blog| %>
       <div class="col-xs-12 col-md-6 blog-panel">
         <h2><%= favorites_blog.title %></h2>
         <p><%= favorites_blog.content %></p>
         <div class="blog-links">
           <%= link_to 'Show', favorites_blog, class: 'btn btn-default' %>
           <%= link_to 'Edit', edit_blog_path(favorites_blog), class: 'btn btn-info' %>
           <%= link_to 'Destroy', favorites_blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  </body>
</html>


